.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information {
  display: flex;
  min-width: 900px;
  padding: 10px;
  background-color: rgb(223, 223, 223);
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.information input {
  font-size: 20px;
  padding-left: 10px;
  margin-top: 5px;
}
.customer-box {
  display: grid;
  padding: 5px;
  grid-template-columns: auto;
  background-color: white;
  border-bottom: black;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
}

#item1 {
  grid-column: 1;
}
#item2 {
  grid-column: 2;
}
#item3 {
  grid-column: 3;
}
#item4 {
  grid-column: 4;
}
#item5 {
  grid-column: 5;
}
#item6 {
  grid-column: 6;
}
.customer-container {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
  min-height: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
.customer-label {
  font-size: 16px;
  padding: 10px;
  border-bottom: black;
  border-style: none none solid none;
  border-width: 1px;
}
.state-info {
  margin-right: 10px;
  font-size: 20px;
}
.information button {
  margin-top: 15px;
}
.information button:hover {
  cursor: pointer;
}
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tabs button {
  margin: 10px 10px 10px 10px;
  width: 300px;
  font-size: 20px;
  padding-left: 10px;
}

.scrollable-menu {
  min-height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  width: 300px;
  display: contents;
}
.dropdown {
  font-size: 20px;
}
